.wd-highlight-labs {
    background-color: darkblue;
    color: white;
}

.wd-highlight-labs {
    background-color: blue !important;
    color: white !important;
}

.wd-lab-padding {
    padding-left: 20px;;
}