body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.wd-text-grey {
  margin-top:25px;
  color: gray;
}


.wd-border-greyish {
    border: #D3D3D3;
}

.wd-bold {
  font-weight: bold;
}

.wd-left-side-black-border {
  color: darkred;
  border-left: 5px solid black !important;
}



body { margin: 0;  padding: 0; }
body * { font-family:
         Arial, Helvetica, 
         sans-serif; }
@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.bg-third {
    --bs-secondary-rgb: blue;
  }

.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}


.wd-assignment {
    border-left: 3px solid green !important;
  }


.wd-rounded-border {
    border-radius: 25px;
    padding: 3px 15px;
    border: 1px solid black;
    display: inline-block;
    color: black;
   }

.wd-background-assignment {
    background-color: #F1F1F4;
}

.wd-assignment-link {
    text-decoration: none;
    color: inherit;
    user-select: none;
}

.wd-straight-border {
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid lightgrey;
    display: block;
   
    color: black;
   }

   .wd-padding-left {
    padding-left: 700px;
   }



   .wd-custom-input {
    width: 450px !important;   
   }

   .wd-padding-right {
    padding-right: 40px;
   }

   .wd-label {
    white-space: nowrap; 
    min-width: 150px; 
  }

  .wd-straight-border-two {
    border-radius: 5px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid lightgrey;
    display: block;
   
    color: black;

    margin-left: auto;
    margin-right: 5px;

   }

   .wd-top-left {
    position: relative;
    height: 250px;
    left: 16px;

   }

   .wd-from-until {
    gap: 20px;
   }

   .wd-assign-label {
    position: relative;
    height: 270px;
    left: 80px;

   }

   .wd-grade-label {
    position: relative;
    height: 35;
    left: 11px;

   }

   .wd-group-label {
    position: relative;
    height: 25px;
    left: 4px;

   }

   .wd-points-label {
    position: relative;
    height: 25px;
    left: 93px;

   }

#wd-button-account {
  background-color: #dc3545;
  color: white;
}

#wd-button-addPerson {
  background-color: #dc3545;
  font-size: 12px;
  color: white;
  height: 40px;
  white-space: nowrap;
}

#wd-button-account:hover {
  background-color: darkred;
  color:#fff;

}

   #wd-cancel-button {
    border-radius: 3px ;
   }

   #wd-save-button {
    border-radius: 3px ;
    color: white;
   }


   #wd-account-navigation {
    padding-left: 20px;
   }

   .wd-account-signin-nav {
    color: red;
   }

   .wd-border-for-navigation {
    border-bottom: none !important;
    border-left: 3px solid black !important;
    border-top: none !important;
    border-right: none !important;
    border-radius: 0px;
    
   }

   #wd-signup-black {
    color: black;
   }

  #wd-collapse-all {
    border-radius: 3px;
    background-color: #F1F1F4;
   }

   #wd-module-add-button {
    border-radius: 3px;
   }

  #wd-background-for-titles {
    background-color: #F1F1F4;
   }


   #wd-assignment-grey {
    color: gray;
    padding-left:  60px;
   }

   #wd-padding-right-assignments{
    padding-right: 40px !important;
   }

   #wd-padding-right-left {
    padding-left: 60px;
    padding-right: 165px;
   }

   #wd-padding-left-assignments{
    padding-left: 60px;
   }

   #wd-padding-right-left-modules {
    padding-left: 40px;
    padding-right: 20px;
   }

   #wd-padding-module-left {
    padding-right: 30px;
   }

   .wd-padding-left-assignment-btn {
    padding-left: 40px;
   }



  .wd-height {
    height: 60px;
  }

  .wd-kambaz-relative {
    position: relative;
  }

  #wd-assign-everyone {
    color: grey;
    padding-left: 60px;
  }

  #wd-background-for-everyone {
    background-color: #F1F1F4;
    width: 150px;
   }

   .wd-border-piazza-nav-bar {
    border-radius: 0px;
    height: 55px;
    background-color: #007BB5;
    color: white;
    border: 1px solid gray;
   }

   .wd-font-family {
    font-family: 'Roboto', sans-serif;
   }

   .wd-logo-height {
    margin-top: 18px;
    padding-left: 15px;
   }

  .wd-q-a {
    position:absolute;
    left: 53%;
    color: white;
    text-decoration: underline;
  }

  .wd-nav-height {
    margin-top: 18px;
  }

  .wd-hw-folder-nav-bar {
    border-radius: 0%;
    height: 30px;
    background-color: #E6E6EA;
    color: gray;
    border: 1px solid lightgrey;

  }


  .wd-hw-height {
    margin-top: 4px;
    padding-left: 15px;
   }

.wd-right-page-bg {
  border-radius: 0%;
  border-color: #F1F1F4;
  background-color: #F6F6F9;
  padding-left: 20px;
  width: 60%;
  margin: auto;
  margin-right: 0%;
  height: 100vh;
  border: 1px solid lightgrey;

}

.wd-class-glance {
  border-radius: 5px;
  background-color: #fff;
  height: 200px;
  width: 97%;
  margin: auto;
  margin-top: 3px;
  margin-right:25px;
  border: 1px solid lightgrey;
}

#wd-button-dashboard {
  background-color: #dc3545;
  color: white;
  border-color: darkred;
}

.wd-padding-left-class {
  padding-left: 15px;
}

.wd-post-stats {
  margin-top: 10px;
  padding-left: 10px;
  display:flex;
  align-items: center;
  gap:5px;
}

.wd-show-border {
  color: salmon;
 }

.wd-highlight-border {
  border: 2px solid lightskyblue;
  background-color: skyblue;
  padding: 5px;
  border-radius: 5px;
}

.wd-border-none {
  border: none;
}

#wd-go-button {
  background-color: green;
  color: white;
  border-color: green;
}

#wd-show-course-button {
  background-color: #333333;
  border-color: #333333;
  color: white;
}